<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.emp-mapper">

<!-- 
  주요 태그
  
  주의점 : 태그 한 개의 하나의 SQL문장만 지정할 수 있다
         여러개 있는 경우에는 서브쿼리를 사용
  <select> : 데이터 검색
  <insert> : 데이터 추가
  <update> : 데이터 수정
  <delete> : 데이터 삭제
  <selectKey> : 자동 증가 번호
  <resultMap> : JOIN
  <parameterMap> : 프로시저
  <if>
  <forEach> IN연산자
  <choose> 다중 조건문
  <where> 조건문
  <trim> 제거

 -->
 <!-- 
   as => 1. 함수 , 2. 컬럼명이 다른 경우
  -->
 <select id="empListData" resultType="EmpVO">
  SELECT empno,ename,job,mgr,TO_CHAR(hiredate,'YYYY-MM-DD') as regdate,sal,comm,deptno FROM emp 
 </select>
 <select id="empDeptJoinData" resultType="EmpVO">
  SELECT empno,ename,job,TO_CHAR(hiredate,'YYYY-MM-DD') as dbday,sal,dname,loc
  FROM emp JOIN dept
  ON emp.deptno=dept.deptno
 </select>
 
 
 
</mapper>