<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.music-mapper">
 <select id="musicFindData" resultType="MusicVO" parameterType="HashMap">
   SELECT no,title,singer,poster,state,album,idcrement
   FROM genie_music
   WHERE
   <trim prefixOverrides="OR">
   <foreach collection="fsArr" item="fs">   
    <trim prefix="OR">
   <choose>
     <when test="T">
     title LIKE '%'||#{ss}||'%'
     </when>
     <when test="S">
     OR singer LIKE '%'||#{ss}||'%'
     </when>
     <when test="A">
     OR album LIKE '%'||#{ss}||'%'
     </when>
   </choose>
   </trim>
   </foreach>
   </trim>
 </select>
</mapper>